@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    --font-color: #2B2D42;
    --primary-color: #E86A92;
    --accent-color: #F7E733;
    --third-color: #F7F7F9;
    --fourfth-color: #41E2BA;

    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
}

body {
    margin-block: 0px;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    height: 100%;
    margin-inline: 8px;
}

.left-panel {
    position: sticky;
    width: 20%;
    min-width: 200px;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.nav {
    border-radius: 10px;
    border: 2px solid var(--fourfth-color);
    margin-block: 1em;
    padding-inline: 1em;
    bottom: 0px;
    height: 100%;
    padding-inline: 0px;
}

.nav-ul {
    padding-inline: 1em;
}

.nav-ul li {
    margin-bottom: 0.5em;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    font-weight: bold;
}

.main-panel {
    width: 100%;
}

.settings-block {
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    padding-inline: 1em;
    margin-block: 1em;
}